python                    3.8.16
pandas                    2.0.3
streamlit                 1.31.1
streamlit-lottie          0.0.5
anonymizedf               1.0.1
anonypy                   0.1.7
pillow                    9.4.0
pycanon                   1.0.1.post2